.entries {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.value-label {
  text-align: right;
}

.entry {
  display: contents;
}

.debt-input {
  display: contents;
}

.debt-input--value {
  text-align: right;
}
