.margin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 24rem;
  max-width: 100%;
}

.entries {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr min-content minmax(8rem, 2fr) min-content;
  row-gap: 0.25rem;
  column-gap: 0.125rem;
}

.name-label {
  margin: 0 0.125rem;
}

.value-label {
  margin: 0 0.25rem;
  text-align: right;
}

.entry {
  display: contents;
}

.debt-input {
  display: contents;
}

.debt-input--name {
  width: 100%;
  box-sizing: border-box;
}

.debt-input--dollar {
  margin-left: 1rem;
  text-align: right;
}

.debt-input--value {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.add-entry {
  grid-column: 1 / span 4;
  justify-self: start;
}

.output-actions {
  display: flex;
  justify-content: space-between;
}

.transactions {
  margin: 0.25rem 0;
  padding: 0.5rem;
  background-color: ghostwhite;
  border-width: 1px;
  border-style: solid;
}
