.entries {
  max-width: 30rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 3fr min-content minmax(8rem, 2fr) min-content;
  row-gap: 0.25rem;
  column-gap: 0.125rem;
}

.value-label {
  text-align: right;
}

.entry {
  display: contents;
}

.debt-input {
  display: contents;
}

.debt-input--name {
  margin-right: 1rem;
}

.debt-input--dollar {
  text-align: right;
}

.debt-input--value {
  text-align: right;
}
